.~*
.idea
.ipynb_checkpoints

*_logs
cached*
__pycache__
*.pyc
*.out
*.zip
/log*
/cache
/cache-*
*.egg-info

/lib/datasets/**/dummy
/lib/**/MANIFEST.in
/lib/**/dist
/lib/**/build
/lib/**/target
/lib/**/git_version_info_installed.*
/data
/data-*
/encoded
/note*/**/*.json
/output
/output-*
/pretrained
/pretrained-*
/finetuned
/finetuned-*
/predicted
/predicted-*

vocab.txt
pytorch_model.*
pytorch_model-*
*model_states.pt
*optim_states.pt
training_args.bin